/* Styl dla całej strony */
body {
    background: linear-gradient(to right, #ffcb00 20%, #ffffff 20%, #ffffff 80%, #e5010e 80%);
    height: 100vh; /* Wysokość całej strony */
    margin: 0; /* Usunięcie domyślnych marginesów */
    font-family: Arial, sans-serif;
    color: black;
}

/* Styl dla kontenera */
.container {
    padding: 20px;
}

/* Styl dla nagłówków */
h1 {
    text-align: center;
}

/* Styl dla nawigacji */
nav {
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    background-color: #007bff; /* Niebieski kolor przycisku */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Animacja zmiany koloru i efektu kliknięcia */
}

/* Efekt najechania na przycisk */
nav ul li a:hover {
    background-color: #0056b3; /* Ciemniejszy niebieski */
    transform: scale(1.05); /* Powiększenie przycisku */
}

/* Efekt kliknięcia */
nav ul li a:active {
    background-color: #004085; /* Jeszcze ciemniejszy niebieski */
    transform: scale(0.98); /* Minimalne zmniejszenie przycisku */
}

/* Styl dla stopki */
footer {
    text-align: center;
    margin-top: 20px;
}