<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zarządzaj Pojazdami MPK</title>
    <link rel="stylesheet" th:href="@{/css/dodajPojazd.css}">
    <script th:src="@{/js/dodajPojazd.js}" defer></script>
</head>
<body>
<div class="container">
    <h1>Zarządzaj Pojazdami MPK</h1>

    <!-- Formularz dodawania nowego pojazdu -->
    <h2>Dodaj nowy pojazd</h2>
    <form action="/tramwaje" method="POST">
        <label for="model">Model:</label>
        <input type="text" id="model" name="model" required>
        <br>
        <label for="numerBoczny">Numer Boczny:</label>
        <input type="text" id="numerBoczny" name="numerBoczny" required>
        <br>
        <label for="rokProdukcji">Rok Produkcji:</label>
        <input type="number" id="rokProdukcji" name="rokProdukcji" min="1900" max="2100" required>
        <br>
        <label for="pojemnosc">Pojemność:</label>
        <input type="number" id="pojemnosc" name="pojemnosc" min="0" required>
        <br>
        <label for="uwagi">Uwagi:</label>
        <textarea id="uwagi" name="uwagi"></textarea>
        <br>
        <button type="submit">Dodaj Pojazd</button>
    </form>
</div>
</body>