<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name = "viewport" content="width-device-width, initial-scale=1.0" >
    <title>MPK ŁÓDŹ</title>
    <link rel="stylesheet" th:href="@{/css/rozklad.css}">
    <script th:src="@{/js/rozklad.js}"></script>
</head>
<body>
<h1>Rozkład Jazdy - Przystanek "Centrum"</h1>
<h2>Linia 5</h2>
<table>
    <thead>
    <tr>
        <th>Godzina odjazdu</th>
        <th>Kierunek</th>
        <th>Typ pojazdu</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>08:15</td>
        <td>Dworzec Główny</td>
        <td>Autobus</td>
    </tr>
    <tr>
        <td>08:45</td>
        <td>Osiedle Zielone</td>
        <td>Autobus</td>
    </tr>
    <tr>
        <td>09:15</td>
        <td>Dworzec Główny</td>
        <td>Autobus</td>
    </tr>
    </tbody>
</table>
</body>
</html>
