<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Zarządzaj Pojazdami MPK</title>
  <link rel="stylesheet" th:href="@{/css/zarzadzaniePojazdami.css}">
  <script th:src="@{/js/zarzadzaniePojazdami.js}" defer></script>
</head>
<body>
<div class="container">
  <h1>Zarządzaj Pojazdami MPK</h1>
  <a href="/adminStrona" class="btn-back">Powrót do głównego widoku administratora</a>
  <a href="/dodajPojazd" class="btn-back">Dodaj nowy pojazd</a>
  <!-- Formularz wyszukiwania pojazdów -->
  <h2>Wyszukaj pojazdy</h2>
  <form action="/tramwaje/wyszukaj" method="GET">
    <label for="searchNumerBoczny">Numer Boczny:</label>
    <input type="text" id="searchNumerBoczny" name="numerBoczny">
    <br>
    <label for="searchRokProdukcji">Rok Produkcji:</label>
    <input type="number" id="searchRokProdukcji" name="rokProdukcji" min="1900" max="2100">
    <br>
    <label for="searchUwagi">Uwagi:</label>
    <input type="text" id="searchUwagi" name="uwagi">
    <br>
    <button id="wyszukajButton" type="submit">Wyszukaj </button>
  </form>

  <!-- Tabela pojazdów -->
  <h2>Lista pojazdów</h2>
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Model</th>
      <th>Numer Boczny</th>
      <th>Rok Produkcji</th>
      <th>Pojemność</th>
      <th>Uwagi</th>
      <th>Akcje</th>
    </tr>
    </thead>
    <tbody>
    <!-- Wiersze zostaną wygenerowane dynamicznie przez backend -->
    <tr th:each="pojazd : ${tramwaje}">
      <td th:text="${pojazd.id}"></td>
      <td th:text="${pojazd.model}"></td>
      <td th:text="${pojazd.numerBoczny}"></td>
      <td th:text="${pojazd.rokProdukcji}"></td>
      <td th:text="${pojazd.pojemnosc}"></td>
      <td th:text="${pojazd.uwagi}"></td>
      <td>
        <!-- Akcje takie jak edycja lub usunięcie -->
        <form th:action="@{'/tramwaje/update/' + ${pojazd.id}}" method="get" style="display: inline;">
          <button type="submit">Edytuj</button>
        </form>
        <form th:action="@{'/tramwaje/delete/' + ${pojazd.id}}" method="post" style="display: inline;">
          <button type="submit">Usuń</button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>